<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Camera Makes Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <script src="scripts/jquery-3.1.1.min.js"></script>
        <script src="scripts/selection_control.js"></script>
    </head>

    <body>

        <h3>This is the Camera Make Page!</h3>

        <div>

            <a href="index.html">Index Page</a>

            <input type="text" placeholder="Enter (or select) a model" list="selection_data_list" id="input_selection"/>

            <datalist id="selection_data_list">
                <option th:each="camera_model : ${all_camera_models}"
                            th:data-value="${camera_model.value}"
                            th:value="${camera_model.key}">
                </option>
            </datalist>

        </div>

        <div>
            <a th:each="highlight_picture : ${highlight_pictures}">
                <figure>
                    <img th:src="${highlight_picture}">
                </figure>
            </a>
        </div>
    </body>

</html>