<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Camera Index Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <script src="scripts/jquery-3.1.1.min.js"></script>
        <script src="scripts/selection_control.js"></script>
    </head>

    <body>
        <div>
            <h3>Welcome to the RedBubble camera website!</h3>

            <input id="input_selection"
                   type="text"
                   placeholder="Enter (or select) a camera make"
                   list="selection_data_list"/>

            <datalist id="selection_data_list">
                <option th:each="camera_make : ${all_camera_makes}"
                            th:data-value="${camera_make.value}"
                            th:value="${camera_make.key}">
                </option>
            </datalist>
        </div>

        <div id="highlight_pictures_fragment"
             class="flex-container"
             th:include="/templates/picture_fragments :: highlight_pictures_fragment">
        </div>
    </body>
</html>