<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="styles/main.css">
    </head>

    <body>
        <div th:fragment="highlight_pictures_fragment">
            <figure class="flex-item"
                    th:if="${not highlight_pictures.isEmpty()}"
                    th:each="highlight_picture : ${highlight_pictures}">
                <img th:src="${highlight_picture}" />
            </figure>

            <h4 th:if="${highlight_pictures.isEmpty()}">
                No pictures to show. :-(
            </h4>
        </div>
    </body>
</html>